  <%=render "common/navbar" %>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <h2>為您省去安排交通與行程的煩惱！</h2>
        <h3>專業在地導遊為您規劃整體的行程，您只需要準備一顆輕鬆的心！</h3>

        <button type="button" class="btn btn-primary btn-lg">立刻探索旅程！</button>
        <p><%= link_to("或 為旅人規劃一個完美的旅程","#") %></p>
      </div>
      <div class="col-md-6"><p>出發與終點</p></div>
      <hr>
    </div>

    <div class="row text-center well">
      <div class="col-md-3"><i class="glyphicon glyphicon-th-list"></i><p class="lead">1.選定行程</p></div>
      <div class="col-md-3"><i class="glyphicon glyphicon-pencil"></i><p class="lead">2.挑選時間</p></div>
      <div class="col-md-3"><i class="glyphicon glyphicon-road"></i><p class="lead">3.出行！</p></div>
      <div class="col-md-3"><i class="glyphicon glyphicon-bed"></i><p class="lead">4.滿載而歸</p></div>
    </div>

    <div class="row well">
      <div class="col-md-6"><p>ＱＡ</p>
        <ul class="list-unstyled">
          <li>1.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ullamcorper suscipit. Nam sollicitudin tincidunt libero, eu ultricies risus congue et. Aliquam id convallis justo. Quisque sed sem ipsum. Cras sit amet libero non sapien congue euismod. Ut in sem velit. Aliquam sit amet lectus massa. In ultrices sed mauris quis accumsan. Pellentesque sit amet nunc et dolor dictum iaculis. Donec hendrerit, ante sit amet dictum gravida, lorem odio pretium arcu, eget consectetur neque dui sed sapien. Aliquam erat volutpat. Donec in nibh iaculis tellus luctus iaculis vel sit amet sem. Proin eleifend ex at viverra aliquam. Cras volutpat ipsum eget neque luctus ultrices. Nunc at efficitur est.</li>
          <li>2.Ut ut nisl porta, tristique mi id, convallis ex. Morbi sagittis, eros sit amet lobortis vehicula, eros sem pretium mi, ac cursus risus ipsum vulputate nisi. Mauris fringilla enim sit amet odio luctus pulvinar. Mauris nec tortor pretium, malesuada tellus id, mollis felis. Aenean sit amet eros at risus condimentum facilisis. Nullam commodo vel purus at dictum. Aenean placerat ante a placerat pretium. Mauris nec lacinia tellus. Vivamus fringilla magna a urna mollis hendrerit. Nullam ex nulla, ornare nec posuere id, gravida id mi. Suspendisse convallis, dolor in gravida ultricies, elit massa varius leo, ac cursus tortor lorem ut ipsum. Vestibulum gravida eget nulla sed finibus. Suspendisse sem elit, semper vitae lorem vitae, fringilla ultrices risus. Nunc sit amet velit sed justo molestie scelerisque at sit amet nisi. Maecenas suscipit quam nisl, et vulputate libero convallis non. Cras quis tortor sed dui dapibus accumsan mattis nec eros.</li>
          <li>3.Donec varius ipsum vel augue rutrum, eu venenatis magna scelerisque. Donec porta, diam vel accumsan elementum, augue neque interdum felis, a porta arcu nisi vel eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper felis nec tellus interdum consectetur vel eu odio. Nulla mollis consequat ligula, in gravida orci aliquet congue. Etiam lacus justo, accumsan ut pellentesque eget, tempus et mauris. Nulla mattis quam varius, eleifend nisl elementum, facilisis justo. Cras mattis luctus nibh vitae eleifend. Praesent quam nibh, porttitor eu dignissim vel, tristique sed urna. Vestibulum non enim eget leo aliquet euismod quis ut augue. Sed non diam sed eros blandit pulvinar. Mauris vitae semper massa. Cras eu sapien vitae quam tempor dictum eu vitae dolor.</li>
        </ul>
      </div>
      <div class="col-md-3"><p>導遊團隊</p></div>
    </div>
  </div>

  <div class="row well text-center">
    <div class="col-md-12"><p>見證報導</p></div>
  </div>
  </div>
<%= render "common/footer" %>
