<%= render "common/navbar" %>
<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <p>Search Bar</p>
    </div>
  </div>
  <div class="row border-between">
    <div class="col-md-9">
      <p>Tour List</p>
      <ul>
        <li>1.</li>
        <li>2.</li>
        <li>3.</li>
      </ul>
    </div>
    <div class="col-md-3">
      <p>Filter</p>
    </div>
  </div>
</div>
<%= render "common/footer" %>
